In [1]:
%pip install python-dotenv

Collecting python-dotenv
  Downloading python_dotenv-1.1.1-py3-none-any.whl.metadata (24 kB)
Downloading python_dotenv-1.1.1-py3-none-any.whl (20 kB)
Installing collected packages: python-dotenv
Successfully installed python-dotenv-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
%pip install plotly

Requirement already satisfied: plotly in c:\users\pradosh\onedrive\documents\advance python\repository\venv\lib\site-packages (6.3.0)
Requirement already satisfied: narwhals>=1.15.1 in c:\users\pradosh\onedrive\documents\advance python\repository\venv\lib\site-packages (from plotly) (2.2.0)
Requirement already satisfied: packaging in c:\users\pradosh\onedrive\documents\advance python\repository\venv\lib\site-packages (from plotly) (25.0)
Note: you may need to restart the kernel to use updated packages.

In [12]:
from dotenv import load_dotenv
load_dotenv()

True

In [17]:
import os
api_key = os.getenv('API_KEY')

In [21]:
import requests

url = "https://alpha-vantage.p.rapidapi.com/query"

querystring = {"datatype":"json","keywords":"HDFC ","function":"SYMBOL_SEARCH"}

headers = {
	"x-rapidapi-key": api_key,
	"x-rapidapi-host": "alpha-vantage.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

data = response.json()

In [22]:
data

{'bestMatches': [{'1. symbol': 'HDB',
   '2. name': 'HDFC Bank Ltd',
   '3. type': 'Equity',
   '4. region': 'United States',
   '5. marketOpen': '09:30',
   '6. marketClose': '16:00',
   '7. timezone': 'UTC-04',
   '8. currency': 'USD',
   '9. matchScore': '0.5556'},
  {'1. symbol': 'HDFA.FRK',
   '2. name': 'HDFC Bank Limited',
   '3. type': 'Equity',
   '4. region': 'Frankfurt',
   '5. marketOpen': '08:00',
   '6. marketClose': '20:00',
   '7. timezone': 'UTC+02',
   '8. currency': 'EUR',
   '9. matchScore': '0.5455'},
  {'1. symbol': 'HDFCAMC.BSE',
   '2. name': 'HDFC Asset Management Company Ltd',
   '3. type': 'Equity',
   '4. region': 'India/Bombay',
   '5. marketOpen': '09:15',
   '6. marketClose': '15:30',
   '7. timezone': 'UTC+5.5',
   '8. currency': 'INR',
   '9. matchScore': '0.5333'},
  {'1. symbol': 'HDFCBANK.BSE',
   '2. name': 'HDFC Bank Limited',
   '3. type': 'Equity',
   '4. region': 'India/Bombay',
   '5. marketOpen': '09:15',
   '6. marketClose': '15:30',
   '7. timezone': 'UTC+5.5',
   '8. currency': 'INR',
   '9. matchScore': '0.5000'},
  {'1. symbol': 'HDFCLIFE.BSE',
   '2. name': 'HDFC Life Insurance Company Ltd',
   '3. type': 'Equity',
   '4. region': 'India/Bombay',
   '5. marketOpen': '09:15',
   '6. marketClose': '15:30',
   '7. timezone': 'UTC+5.5',
   '8. currency': 'INR',
   '9. matchScore': '0.5000'},
  {'1. symbol': 'HDFCNEXT50.BSE',
   '2. name': 'HDFC Mutual Fund',
   '3. type': 'Mutual Fund',
   '4. region': 'India/Bombay',
   '5. marketOpen': '09:15',
   '6. marketClose': '15:30',
   '7. timezone': 'UTC+5.5',
   '8. currency': 'INR',
   '9. matchScore': '0.4762'},
  {'1. symbol': 'H1DB34.SAO',
   '2. name': 'HDFC Bank Limited',
   '3. type': 'Equity',
   '4. region': 'Brazil/Sao Paolo',
   '5. marketOpen': '10:00',
   '6. marketClose': '17:30',
   '7. timezone': 'UTC-03',
   '8. currency': 'BRL',
   '9. matchScore': '0.4545'},
  {'1. symbol': '0P0001EI1B.BSE',
   '2. name': 'HDFC Hybrid Eq Gr',
   '3. type': 'Mutual Fund',
   '4. region': 'India/Bombay',
   '5. marketOpen': '09:15',
   '6. marketClose': '15:30',
   '7. timezone': 'UTC+5.5',
   '8. currency': 'INR',
   '9. matchScore': '0.4545'},
  {'1. symbol': '0P0000XW7U.BSE',
   '2. name': 'HDFC Index S&P BSE Sensex Dir',
   '3. type': 'Mutual Fund',
   '4. region': 'India/Bombay',
   '5. marketOpen': '09:15',
   '6. marketClose': '15:30',
   '7. timezone': 'UTC+5.5',
   '8. currency': 'INR',
   '9. matchScore': '0.2941'},
  {'1. symbol': '540777.BSE',
   '2. name': 'HDFC Life Insurance Company Limited',
   '3. type': 'Equity',
   '4. region': 'India/Bombay',
   '5. marketOpen': '09:15',
   '6. marketClose': '15:30',
   '7. timezone': 'UTC+5.5',
   '8. currency': 'INR',
   '9. matchScore': '0.2500'}]}

In [20]:
type(data)

dict

In [24]:
data.keys()

dict_keys(['bestMatches'])

In [28]:
data['bestMatches']

[{'1. symbol': 'HDB',
  '2. name': 'HDFC Bank Ltd',
  '3. type': 'Equity',
  '4. region': 'United States',
  '5. marketOpen': '09:30',
  '6. marketClose': '16:00',
  '7. timezone': 'UTC-04',
  '8. currency': 'USD',
  '9. matchScore': '0.5556'},
 {'1. symbol': 'HDFA.FRK',
  '2. name': 'HDFC Bank Limited',
  '3. type': 'Equity',
  '4. region': 'Frankfurt',
  '5. marketOpen': '08:00',
  '6. marketClose': '20:00',
  '7. timezone': 'UTC+02',
  '8. currency': 'EUR',
  '9. matchScore': '0.5455'},
 {'1. symbol': 'HDFCAMC.BSE',
  '2. name': 'HDFC Asset Management Company Ltd',
  '3. type': 'Equity',
  '4. region': 'India/Bombay',
  '5. marketOpen': '09:15',
  '6. marketClose': '15:30',
  '7. timezone': 'UTC+5.5',
  '8. currency': 'INR',
  '9. matchScore': '0.5333'},
 {'1. symbol': 'HDFCBANK.BSE',
  '2. name': 'HDFC Bank Limited',
  '3. type': 'Equity',
  '4. region': 'India/Bombay',
  '5. marketOpen': '09:15',
  '6. marketClose': '15:30',
  '7. timezone': 'UTC+5.5',
  '8. currency': 'INR',
  '9. matchScore': '0.5000'},
 {'1. symbol': 'HDFCLIFE.BSE',
  '2. name': 'HDFC Life Insurance Company Ltd',
  '3. type': 'Equity',
  '4. region': 'India/Bombay',
  '5. marketOpen': '09:15',
  '6. marketClose': '15:30',
  '7. timezone': 'UTC+5.5',
  '8. currency': 'INR',
  '9. matchScore': '0.5000'},
 {'1. symbol': 'HDFCNEXT50.BSE',
  '2. name': 'HDFC Mutual Fund',
  '3. type': 'Mutual Fund',
  '4. region': 'India/Bombay',
  '5. marketOpen': '09:15',
  '6. marketClose': '15:30',
  '7. timezone': 'UTC+5.5',
  '8. currency': 'INR',
  '9. matchScore': '0.4762'},
 {'1. symbol': 'H1DB34.SAO',
  '2. name': 'HDFC Bank Limited',
  '3. type': 'Equity',
  '4. region': 'Brazil/Sao Paolo',
  '5. marketOpen': '10:00',
  '6. marketClose': '17:30',
  '7. timezone': 'UTC-03',
  '8. currency': 'BRL',
  '9. matchScore': '0.4545'},
 {'1. symbol': '0P0001EI1B.BSE',
  '2. name': 'HDFC Hybrid Eq Gr',
  '3. type': 'Mutual Fund',
  '4. region': 'India/Bombay',
  '5. marketOpen': '09:15',
  '6. marketClose': '15:30',
  '7. timezone': 'UTC+5.5',
  '8. currency': 'INR',
  '9. matchScore': '0.4545'},
 {'1. symbol': '0P0000XW7U.BSE',
  '2. name': 'HDFC Index S&P BSE Sensex Dir',
  '3. type': 'Mutual Fund',
  '4. region': 'India/Bombay',
  '5. marketOpen': '09:15',
  '6. marketClose': '15:30',
  '7. timezone': 'UTC+5.5',
  '8. currency': 'INR',
  '9. matchScore': '0.2941'},
 {'1. symbol': '540777.BSE',
  '2. name': 'HDFC Life Insurance Company Limited',
  '3. type': 'Equity',
  '4. region': 'India/Bombay',
  '5. marketOpen': '09:15',
  '6. marketClose': '15:30',
  '7. timezone': 'UTC+5.5',
  '8. currency': 'INR',
  '9. matchScore': '0.2500'}]

In [29]:
type(data['bestMatches'])

list

In [32]:
for i in data['bestMatches']:
    print(i['1. symbol'])

HDB
HDFA.FRK
HDFCAMC.BSE
HDFCBANK.BSE
HDFCLIFE.BSE
HDFCNEXT50.BSE
H1DB34.SAO
0P0001EI1B.BSE
0P0000XW7U.BSE
540777.BSE

In [33]:
import requests

url = "https://alpha-vantage.p.rapidapi.com/query"

querystring = {"function":"TIME_SERIES_DAILY","symbol":"TATASTEEL.BSE","outputsize":"compact","datatype":"json"}

headers = {
	"x-rapidapi-key": api_key,
	"x-rapidapi-host": "alpha-vantage.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

data2 = (response.json())

In [34]:
data2

{'Meta Data': {'1. Information': 'Daily Prices (open, high, low, close) and Volumes',
  '2. Symbol': 'TATASTEEL.BSE',
  '3. Last Refreshed': '2025-09-18',
  '4. Output Size': 'Compact',
  '5. Time Zone': 'US/Eastern'},
 'Time Series (Daily)': {'2025-09-18': {'1. open': '171.6500',
   '2. high': '172.2500',
   '3. low': '169.8000',
   '4. close': '172.0000',
   '5. volume': '1025203'},
  '2025-09-17': {'1. open': '172.6000',
   '2. high': '172.6000',
   '3. low': '169.3000',
   '4. close': '171.2500',
   '5. volume': '1225524'},
  '2025-09-16': {'1. open': '168.6000',
   '2. high': '172.3000',
   '3. low': '168.6000',
   '4. close': '172.0000',
   '5. volume': '1714698'},
  '2025-09-15': {'1. open': '169.6000',
   '2. high': '170.2000',
   '3. low': '168.6000',
   '4. close': '169.2000',
   '5. volume': '1933165'},
  '2025-09-12': {'1. open': '169.8000',
   '2. high': '171.0000',
   '3. low': '168.6000',
   '4. close': '169.8000',
   '5. volume': '1234298'},
  '2025-09-11': {'1. open': '169.2000',
   '2. high': '170.8500',
   '3. low': '168.5000',
   '4. close': '169.4000',
   '5. volume': '657665'},
  '2025-09-10': {'1. open': '169.1500',
   '2. high': '170.7000',
   '3. low': '168.3000',
   '4. close': '169.3500',
   '5. volume': '1843576'},
  '2025-09-09': {'1. open': '169.1000',
   '2. high': '169.8000',
   '3. low': '168.0000',
   '4. close': '169.1500',
   '5. volume': '1189204'},
  '2025-09-08': {'1. open': '169.2500',
   '2. high': '172.4500',
   '3. low': '168.4500',
   '4. close': '168.8500',
   '5. volume': '1643011'},
  '2025-09-05': {'1. open': '166.8000',
   '2. high': '168.0000',
   '3. low': '165.9500',
   '4. close': '167.6500',
   '5. volume': '609853'},
  '2025-09-04': {'1. open': '169.0000',
   '2. high': '169.2000',
   '3. low': '166.6000',
   '4. close': '166.7500',
   '5. volume': '1328191'},
  '2025-09-03': {'1. open': '158.4500',
   '2. high': '168.0000',
   '3. low': '158.4500',
   '4. close': '167.8000',
   '5. volume': '8779590'},
  '2025-09-02': {'1. open': '155.7500',
   '2. high': '159.0500',
   '3. low': '155.5000',
   '4. close': '158.4500',
   '5. volume': '1582539'},
  '2025-09-01': {'1. open': '154.3000',
   '2. high': '156.3500',
   '3. low': '153.9000',
   '4. close': '156.2000',
   '5. volume': '430231'},
  '2025-08-29': {'1. open': '154.2500',
   '2. high': '155.2000',
   '3. low': '153.0000',
   '4. close': '154.4500',
   '5. volume': '385029'},
  '2025-08-28': {'1. open': '156.1000',
   '2. high': '156.1000',
   '3. low': '153.2000',
   '4. close': '153.5500',
   '5. volume': '725103'},
  '2025-08-27': {'1. open': '155.0000',
   '2. high': '155.0000',
   '3. low': '155.0000',
   '4. close': '155.0000',
   '5. volume': '0'},
  '2025-08-26': {'1. open': '159.5000',
   '2. high': '159.5000',
   '3. low': '154.6000',
   '4. close': '155.0000',
   '5. volume': '1027421'},
  '2025-08-25': {'1. open': '159.0000',
   '2. high': '160.3500',
   '3. low': '158.6500',
   '4. close': '159.6000',
   '5. volume': '776129'},
  '2025-08-22': {'1. open': '161.4000',
   '2. high': '161.4000',
   '3. low': '158.2500',
   '4. close': '158.5500',
   '5. volume': '511168'},
  '2025-08-21': {'1. open': '162.0000',
   '2. high': '162.5500',
   '3. low': '161.1000',
   '4. close': '161.5000',
   '5. volume': '2531809'},
  '2025-08-20': {'1. open': '158.1000',
   '2. high': '162.7000',
   '3. low': '158.0000',
   '4. close': '161.9500',
   '5. volume': '996007'},
  '2025-08-19': {'1. open': '158.3000',
   '2. high': '159.5000',
   '3. low': '156.7500',
   '4. close': '159.1000',
   '5. volume': '547420'},
  '2025-08-18': {'1. open': '158.4500',
   '2. high': '158.6000',
   '3. low': '156.0000',
   '4. close': '157.9500',
   '5. volume': '1252561'},
  '2025-08-14': {'1. open': '160.1500',
   '2. high': '162.0000',
   '3. low': '154.9000',
   '4. close': '155.3000',
   '5. volume': '1151146'},
  '2025-08-13': {'1. open': '160.5000',
   '2. high': '162.4000',
   '3. low': '159.8500',
   '4. close': '160.1500',
   '5. volume': '1993101'},
  '2025-08-12': {'1. open': '158.3500',
   '2. high': '161.6500',
   '3. low': '158.3500',
   '4. close': '160.2000',
   '5. volume': '2702852'},
  '2025-08-11': {'1. open': '157.9000',
   '2. high': '160.0000',
   '3. low': '157.0500',
   '4. close': '158.8500',
   '5. volume': '1371736'},
  '2025-08-08': {'1. open': '159.2000',
   '2. high': '160.0000',
   '3. low': '157.0000',
   '4. close': '158.0000',
   '5. volume': '731632'},
  '2025-08-07': {'1. open': '156.8000',
   '2. high': '160.0000',
   '3. low': '156.2500',
   '4. close': '159.7000',
   '5. volume': '930942'},
  '2025-08-06': {'1. open': '159.6000',
   '2. high': '159.8500',
   '3. low': '157.8000',
   '4. close': '158.7000',
   '5. volume': '417517'},
  '2025-08-05': {'1. open': '159.6000',
   '2. high': '160.1500',
   '3. low': '158.2000',
   '4. close': '159.6000',
   '5. volume': '950491'},
  '2025-08-04': {'1. open': '154.3500',
   '2. high': '159.9000',
   '3. low': '153.6500',
   '4. close': '159.6000',
   '5. volume': '1200553'},
  '2025-08-01': {'1. open': '157.8000',
   '2. high': '157.9500',
   '3. low': '152.5500',
   '4. close': '153.0000',
   '5. volume': '860398'},
  '2025-07-31': {'1. open': '161.3500',
   '2. high': '162.2000',
   '3. low': '156.5000',
   '4. close': '157.8000',
   '5. volume': '1053251'},
  '2025-07-30': {'1. open': '161.1000',
   '2. high': '162.8500',
   '3. low': '161.0500',
   '4. close': '161.3500',
   '5. volume': '802351'},
  '2025-07-29': {'1. open': '158.9500',
   '2. high': '162.3500',
   '3. low': '158.3000',
   '4. close': '161.7000',
   '5. volume': '631719'},
  '2025-07-28': {'1. open': '161.4000',
   '2. high': '162.3000',
   '3. low': '159.0500',
   '4. close': '159.6500',
   '5. volume': '631727'},
  '2025-07-25': {'1. open': '163.7000',
   '2. high': '163.7000',
   '3. low': '160.8000',
   '4. close': '161.4000',
   '5. volume': '992201'},
  '2025-07-24': {'1. open': '162.7500',
   '2. high': '164.7000',
   '3. low': '162.7500',
   '4. close': '163.4500',
   '5. volume': '1230280'},
  '2025-07-23': {'1. open': '163.1000',
   '2. high': '164.1500',
   '3. low': '161.9000',
   '4. close': '162.8000',
   '5. volume': '459930'},
  '2025-07-22': {'1. open': '163.1000',
   '2. high': '164.4000',
   '3. low': '162.8000',
   '4. close': '163.0000',
   '5. volume': '1038097'},
  '2025-07-21': {'1. open': '162.3000',
   '2. high': '165.5500',
   '3. low': '162.3000',
   '4. close': '162.9500',
   '5. volume': '2818643'},
  '2025-07-18': {'1. open': '160.0500',
   '2. high': '162.8500',
   '3. low': '160.0500',
   '4. close': '162.5000',
   '5. volume': '973692'},
  '2025-07-17': {'1. open': '157.3500',
   '2. high': '160.7500',
   '3. low': '157.1500',
   '4. close': '159.8500',
   '5. volume': '875470'},
  '2025-07-16': {'1. open': '158.8000',
   '2. high': '159.3000',
   '3. low': '157.0000',
   '4. close': '157.3000',
   '5. volume': '774017'},
  '2025-07-15': {'1. open': '160.6000',
   '2. high': '160.8500',
   '3. low': '158.0500',
   '4. close': '159.0500',
   '5. volume': '673404'},
  '2025-07-14': {'1. open': '159.7000',
   '2. high': '161.1000',
   '3. low': '159.2500',
   '4. close': '160.3500',
   '5. volume': '702508'},
  '2025-07-11': {'1. open': '160.8500',
   '2. high': '161.6500',
   '3. low': '159.3500',
   '4. close': '159.8500',
   '5. volume': '512079'},
  '2025-07-10': {'1. open': '160.0000',
   '2. high': '161.5500',
   '3. low': '159.2500',
   '4. close': '160.6500',
   '5. volume': '1051278'},
  '2025-07-09': {'1. open': '161.9000',
   '2. high': '161.9500',
   '3. low': '157.5500',
   '4. close': '159.0000',
   '5. volume': '770093'},
  '2025-07-08': {'1. open': '162.2000',
   '2. high': '162.9500',
   '3. low': '161.5500',
   '4. close': '161.9500',
   '5. volume': '1019797'},
  '2025-07-07': {'1. open': '162.8000',
   '2. high': '163.4000',
   '3. low': '161.5500',
   '4. close': '162.4000',
   '5. volume': '527792'},
  '2025-07-04': {'1. open': '166.0000',
   '2. high': '166.4000',
   '3. low': '162.0500',
   '4. close': '163.0000',
   '5. volume': '932221'},
  '2025-07-03': {'1. open': '166.2500',
   '2. high': '168.7500',
   '3. low': '165.1500',
   '4. close': '165.8500',
   '5. volume': '3584427'},
  '2025-07-02': {'1. open': '160.1000',
   '2. high': '166.1000',
   '3. low': '159.9000',
   '4. close': '165.9000',
   '5. volume': '2591744'},
  '2025-07-01': {'1. open': '160.3500',
   '2. high': '160.3500',
   '3. low': '157.7500',
   '4. close': '159.9500',
   '5. volume': '1482091'},
  '2025-06-30': {'1. open': '161.0000',
   '2. high': '162.2500',
   '3. low': '159.5000',
   '4. close': '159.7500',
   '5. volume': '759212'},
  '2025-06-27': {'1. open': '160.7500',
   '2. high': '163.3500',
   '3. low': '160.7500',
   '4. close': '161.4000',
   '5. volume': '1855477'},
  '2025-06-26': {'1. open': '156.6000',
   '2. high': '161.0000',
   '3. low': '156.5500',
   '4. close': '160.5000',
   '5. volume': '3293862'},
  '2025-06-25': {'1. open': '156.0000',
   '2. high': '156.8500',
   '3. low': '155.5000',
   '4. close': '156.4000',
   '5. volume': '833954'},
  '2025-06-24': {'1. open': '153.3000',
   '2. high': '157.0000',
   '3. low': '153.3000',
   '4. close': '154.8000',
   '5. volume': '1831943'},
  '2025-06-23': {'1. open': '150.5000',
   '2. high': '153.3500',
   '3. low': '150.4500',
   '4. close': '152.4500',
   '5. volume': '566461'},
  '2025-06-20': {'1. open': '150.9500',
   '2. high': '153.2000',
   '3. low': '150.6000',
   '4. close': '151.9000',
   '5. volume': '488365'},
  '2025-06-19': {'1. open': '151.8000',
   '2. high': '152.5000',
   '3. low': '150.4500',
   '4. close': '150.9500',
   '5. volume': '502194'},
  '2025-06-18': {'1. open': '152.0000',
   '2. high': '153.2000',
   '3. low': '150.8000',
   '4. close': '152.0500',
   '5. volume': '754067'},
  '2025-06-17': {'1. open': '153.9500',
   '2. high': '154.9000',
   '3. low': '152.4000',
   '4. close': '152.6000',
   '5. volume': '442379'},
  '2025-06-16': {'1. open': '151.4000',
   '2. high': '154.4500',
   '3. low': '150.8000',
   '4. close': '154.1000',
   '5. volume': '1127804'},
  '2025-06-13': {'1. open': '150.8500',
   '2. high': '152.4000',
   '3. low': '149.7000',
   '4. close': '152.2000',
   '5. volume': '1405591'},
  '2025-06-12': {'1. open': '156.2000',
   '2. high': '156.2000',
   '3. low': '151.8500',
   '4. close': '152.8500',
   '5. volume': '806446'},
  '2025-06-11': {'1. open': '156.2000',
   '2. high': '157.5500',
   '3. low': '155.2500',
   '4. close': '156.3500',
   '5. volume': '1282320'},
  '2025-06-10': {'1. open': '157.8000',
   '2. high': '159.3500',
   '3. low': '155.4500',
   '4. close': '155.7000',
   '5. volume': '1172765'},
  '2025-06-09': {'1. open': '157.5000',
   '2. high': '158.2500',
   '3. low': '156.7500',
   '4. close': '157.2500',
   '5. volume': '1526657'},
  '2025-06-06': {'1. open': '155.9000',
   '2. high': '157.8500',
   '3. low': '154.3000',
   '4. close': '157.5000',
   '5. volume': '1469254'},
  '2025-06-05': {'1. open': '158.6000',
   '2. high': '159.1000',
   '3. low': '157.0000',
   '4. close': '158.0000',
   '5. volume': '641989'},
  '2025-06-04': {'1. open': '157.2500',
   '2. high': '158.9500',
   '3. low': '156.8000',
   '4. close': '158.1500',
   '5. volume': '699088'},
  '2025-06-03': {'1. open': '159.0000',
   '2. high': '160.6000',
   '3. low': '157.0500',
   '4. close': '157.3000',
   '5. volume': '1679863'},
  '2025-06-02': {'1. open': '158.0500',
   '2. high': '160.2000',
   '3. low': '157.2500',
   '4. close': '159.0500',
   '5. volume': '1058729'},
  '2025-05-30': {'1. open': '163.1000',
   '2. high': '163.9000',
   '3. low': '160.5000',
   '4. close': '161.0000',
   '5. volume': '632196'},
  '2025-05-29': {'1. open': '162.0000',
   '2. high': '163.9500',
   '3. low': '161.4000',
   '4. close': '163.1000',
   '5. volume': '1081277'},
  '2025-05-28': {'1. open': '162.6000',
   '2. high': '162.7000',
   '3. low': '160.6000',
   '4. close': '161.0500',
   '5. volume': '1164070'},
  '2025-05-27': {'1. open': '162.3000',
   '2. high': '163.9000',
   '3. low': '160.5500',
   '4. close': '161.7000',
   '5. volume': '1240748'},
  '2025-05-26': {'1. open': '163.0000',
   '2. high': '165.6000',
   '3. low': '162.0000',
   '4. close': '162.4000',
   '5. volume': '1107656'},
  '2025-05-23': {'1. open': '161.5000',
   '2. high': '163.2500',
   '3. low': '161.5000',
   '4. close': '162.9000',
   '5. volume': '1313619'},
  '2025-05-22': {'1. open': '160.0500',
   '2. high': '163.5500',
   '3. low': '160.0500',
   '4. close': '161.2500',
   '5. volume': '1971611'},
  '2025-05-21': {'1. open': '159.3500',
   '2. high': '161.9000',
   '3. low': '158.6000',
   '4. close': '161.6000',
   '5. volume': '986711'},
  '2025-05-20': {'1. open': '158.0500',
   '2. high': '162.0000',
   '3. low': '158.0500',
   '4. close': '158.6500',
   '5. volume': '1759376'},
  '2025-05-19': {'1. open': '157.0500',
   '2. high': '158.0500',
   '3. low': '156.1500',
   '4. close': '157.5000',
   '5. volume': '837651'},
  '2025-05-16': {'1. open': '157.7500',
   '2. high': '158.2500',
   '3. low': '157.0000',
   '4. close': '157.4500',
   '5. volume': '918450'},
  '2025-05-15': {'1. open': '156.0500',
   '2. high': '157.8500',
   '3. low': '154.3000',
   '4. close': '157.3500',
   '5. volume': '1810366'},
  '2025-05-14': {'1. open': '151.2000',
   '2. high': '157.1500',
   '3. low': '151.0000',
   '4. close': '155.3000',
   '5. volume': '4546411'},
  '2025-05-13': {'1. open': '152.3500',
   '2. high': '152.9500',
   '3. low': '149.0500',
   '4. close': '149.5000',
   '5. volume': '3408140'},
  '2025-05-12': {'1. open': '145.7500',
   '2. high': '151.9500',
   '3. low': '144.9500',
   '4. close': '151.5500',
   '5. volume': '1709993'},
  '2025-05-09': {'1. open': '140.6000',
   '2. high': '143.3000',
   '3. low': '140.4000',
   '4. close': '142.7500',
   '5. volume': '1082494'},
  '2025-05-08': {'1. open': '146.2500',
   '2. high': '146.7000',
   '3. low': '143.0000',
   '4. close': '143.6500',
   '5. volume': '1737854'},
  '2025-05-07': {'1. open': '142.0500',
   '2. high': '147.4000',
   '3. low': '142.0500',
   '4. close': '146.3000',
   '5. volume': '1667608'},
  '2025-05-06': {'1. open': '141.6000',
   '2. high': '145.3500',
   '3. low': '141.5000',
   '4. close': '144.4000',
   '5. volume': '3407650'},
  '2025-05-05': {'1. open': '141.3500',
   '2. high': '142.7000',
   '3. low': '141.1500',
   '4. close': '142.1000',
   '5. volume': '1287804'},
  '2025-05-02': {'1. open': '139.8500',
   '2. high': '143.0500',
   '3. low': '139.5000',
   '4. close': '141.3000',
   '5. volume': '703628'},
  '2025-04-30': {'1. open': '140.4000',
   '2. high': '141.5500',
   '3. low': '138.5000',
   '4. close': '139.7500',
   '5. volume': '752026'}}}

In [35]:
data2.keys()

dict_keys(['Meta Data', 'Time Series (Daily)'])

In [45]:
import pandas as pd

In [48]:
data2['Time Series (Daily)']
df = pd.DataFrame(data2['Time Series (Daily)']).T
df

             1. open   2. high    3. low  4. close 5. volume
2025-09-18  171.6500  172.2500  169.8000  172.0000   1025203
2025-09-17  172.6000  172.6000  169.3000  171.2500   1225524
2025-09-16  168.6000  172.3000  168.6000  172.0000   1714698
2025-09-15  169.6000  170.2000  168.6000  169.2000   1933165
2025-09-12  169.8000  171.0000  168.6000  169.8000   1234298
...              ...       ...       ...       ...       ...
2025-05-07  142.0500  147.4000  142.0500  146.3000   1667608
2025-05-06  141.6000  145.3500  141.5000  144.4000   3407650
2025-05-05  141.3500  142.7000  141.1500  142.1000   1287804
2025-05-02  139.8500  143.0500  139.5000  141.3000    703628
2025-04-30  140.4000  141.5500  138.5000  139.7500    752026

[100 rows x 5 columns]

In [53]:
df.index

Index(['2025-09-18', '2025-09-17', '2025-09-16', '2025-09-15', '2025-09-12',
       '2025-09-11', '2025-09-10', '2025-09-09', '2025-09-08', '2025-09-05',
       '2025-09-04', '2025-09-03', '2025-09-02', '2025-09-01', '2025-08-29',
       '2025-08-28', '2025-08-27', '2025-08-26', '2025-08-25', '2025-08-22',
       '2025-08-21', '2025-08-20', '2025-08-19', '2025-08-18', '2025-08-14',
       '2025-08-13', '2025-08-12', '2025-08-11', '2025-08-08', '2025-08-07',
       '2025-08-06', '2025-08-05', '2025-08-04', '2025-08-01', '2025-07-31',
       '2025-07-30', '2025-07-29', '2025-07-28', '2025-07-25', '2025-07-24',
       '2025-07-23', '2025-07-22', '2025-07-21', '2025-07-18', '2025-07-17',
       '2025-07-16', '2025-07-15', '2025-07-14', '2025-07-11', '2025-07-10',
       '2025-07-09', '2025-07-08', '2025-07-07', '2025-07-04', '2025-07-03',
       '2025-07-02', '2025-07-01', '2025-06-30', '2025-06-27', '2025-06-26',
       '2025-06-25', '2025-06-24', '2025-06-23', '2025-06-20', '2025-06-19',
       '2025-06-18', '2025-06-17', '2025-06-16', '2025-06-13', '2025-06-12',
       '2025-06-11', '2025-06-10', '2025-06-09', '2025-06-06', '2025-06-05',
       '2025-06-04', '2025-06-03', '2025-06-02', '2025-05-30', '2025-05-29',
       '2025-05-28', '2025-05-27', '2025-05-26', '2025-05-23', '2025-05-22',
       '2025-05-21', '2025-05-20', '2025-05-19', '2025-05-16', '2025-05-15',
       '2025-05-14', '2025-05-13', '2025-05-12', '2025-05-09', '2025-05-08',
       '2025-05-07', '2025-05-06', '2025-05-05', '2025-05-02', '2025-04-30'],
      dtype='object')

In [54]:
df = df.astype('float')

In [55]:
df.dtypes

1. open      float64
2. high      float64
3. low       float64
4. close     float64
5. volume    float64
dtype: object

In [56]:
df.index = pd.to_datetime(df.index)

In [57]:
df.index

DatetimeIndex(['2025-09-18', '2025-09-17', '2025-09-16', '2025-09-15',
               '2025-09-12', '2025-09-11', '2025-09-10', '2025-09-09',
               '2025-09-08', '2025-09-05', '2025-09-04', '2025-09-03',
               '2025-09-02', '2025-09-01', '2025-08-29', '2025-08-28',
               '2025-08-27', '2025-08-26', '2025-08-25', '2025-08-22',
               '2025-08-21', '2025-08-20', '2025-08-19', '2025-08-18',
               '2025-08-14', '2025-08-13', '2025-08-12', '2025-08-11',
               '2025-08-08', '2025-08-07', '2025-08-06', '2025-08-05',
               '2025-08-04', '2025-08-01', '2025-07-31', '2025-07-30',
               '2025-07-29', '2025-07-28', '2025-07-25', '2025-07-24',
               '2025-07-23', '2025-07-22', '2025-07-21', '2025-07-18',
               '2025-07-17', '2025-07-16', '2025-07-15', '2025-07-14',
               '2025-07-11', '2025-07-10', '2025-07-09', '2025-07-08',
               '2025-07-07', '2025-07-04', '2025-07-03', '2025-07-02',
               '2025-07-01', '2025-06-30', '2025-06-27', '2025-06-26',
               '2025-06-25', '2025-06-24', '2025-06-23', '2025-06-20',
               '2025-06-19', '2025-06-18', '2025-06-17', '2025-06-16',
               '2025-06-13', '2025-06-12', '2025-06-11', '2025-06-10',
               '2025-06-09', '2025-06-06', '2025-06-05', '2025-06-04',
               '2025-06-03', '2025-06-02', '2025-05-30', '2025-05-29',
               '2025-05-28', '2025-05-27', '2025-05-26', '2025-05-23',
               '2025-05-22', '2025-05-21', '2025-05-20', '2025-05-19',
               '2025-05-16', '2025-05-15', '2025-05-14', '2025-05-13',
               '2025-05-12', '2025-05-09', '2025-05-08', '2025-05-07',
               '2025-05-06', '2025-05-05', '2025-05-02', '2025-04-30'],
              dtype='datetime64[ns]', freq=None)

In [58]:
df.index.name = 'Date'

In [60]:
df.head()

            1. open  2. high  3. low  4. close  5. volume
Date
2025-09-18   171.65   172.25   169.8    172.00  1025203.0
2025-09-17   172.60   172.60   169.3    171.25  1225524.0
2025-09-16   168.60   172.30   168.6    172.00  1714698.0
2025-09-15   169.60   170.20   168.6    169.20  1933165.0
2025-09-12   169.80   171.00   168.6    169.80  1234298.0

In [62]:
import plotly.graph_objects as go